<?xml version="1.0" encoding="utf-8"?>
<Macro Key="d31f9c3d-e8f5-4511-b987-e6afd4bb8d82" Alias="Navigation" Level="0">
  <Name>Navigation</Name>
  <MacroSource>~/Views/MacroPartials/Navigation.cshtml</MacroSource>
  <UseInEditor>false</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties />
</Macro>