<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2df91b05-57d2-4407-a1fc-00a0bcd3976a" Alias="Blog Article - Author - User Picker" Level="1">
  <Info>
    <Name>Blog Article - Author - User Picker</Name>
    <EditorAlias>Umbraco.UserPicker</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>