<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="43ba62c6-b1ad-4321-a9ad-84045b680025" Alias="blogArticle" Level="1">
  <Info>
    <Name>Blog Article</Name>
    <Icon>icon-book color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="be1ede9e-cf98-469d-a9d0-6f82d56c353a">authorDate</Composition>
      <Composition Key="6e19fb1d-7d67-4334-a9a3-8be0fe0cf87e">pageContent</Composition>
      <Composition Key="a3352701-a47b-4f8e-8648-8fffe48a7900">sEO</Composition>
      <Composition Key="fc9550f0-5bbe-438c-905b-bd79057798b2">singleImage</Composition>
    </Compositions>
    <DefaultTemplate>BlogArticle</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a4471036-2b67-4c68-afb2-110d5a9d60b0">BlogArticle</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>