<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f07bde90-73e3-429f-93dd-341d76a63b7b" Alias="homepage" Level="1">
  <Info>
    <Name>Homepage</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="a3352701-a47b-4f8e-8648-8fffe48a7900">sEO</Composition>
    </Compositions>
    <DefaultTemplate>Homepage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="11f19bf8-1d53-4f96-b137-19c1c53fb6fa">Homepage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>