<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1eeb3041-75d3-439a-b3b9-d5d060db848a" Alias="product" Level="1">
  <Info>
    <Name>Product</Name>
    <Icon>icon-t-shirt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="6e19fb1d-7d67-4334-a9a3-8be0fe0cf87e">pageContent</Composition>
      <Composition Key="c9bd491e-3589-4527-8478-74540c6f9036">productDetail</Composition>
      <Composition Key="a3352701-a47b-4f8e-8648-8fffe48a7900">sEO</Composition>
      <Composition Key="fc9550f0-5bbe-438c-905b-bd79057798b2">singleImage</Composition>
    </Compositions>
    <DefaultTemplate>Product</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="e14b06b5-7695-4c63-a270-170a17008644">Product</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>2e66349d-c8a6-4f45-8683-b3e1521ef253</Key>
      <Name>Number of Products to Show</Name>
      <Alias>numberOfProductsToShow</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation>^[0-9]*$</Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>fd9b4318-3e01-42e9-a476-6c0401d4f176</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>