<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b16d32da-d1ab-464a-a262-336997e44e03" Alias="shop" Level="1">
  <Info>
    <Name>Shop</Name>
    <Icon>icon-shopping-basket color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="6e19fb1d-7d67-4334-a9a3-8be0fe0cf87e">pageContent</Composition>
      <Composition Key="a3352701-a47b-4f8e-8648-8fffe48a7900">sEO</Composition>
    </Compositions>
    <DefaultTemplate>Shop</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="2d17a713-b4ce-4c0e-89c4-1e85e48c1863">Shop</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="1eeb3041-75d3-439a-b3b9-d5d060db848a" SortOrder="0">product</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>